{% extends 'app/base.html.twig' %}
{% block body %}
    {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button type="submit">Añadir</button>
    {{ form_end(userForm) }}
{% endblock %}
{% block stylesheets %}
<style type="text/css">
    color:red
</style>
{% endblock %}