{% extends 'app/base.html.twig' %}
{% block body %}
    {{ form_start(concertForm) }}
        {{ form_widget(concertForm) }}
        <button class="btn btn-lg btn-primary" type="submit">Añadir</button>
    {{ form_end(concertForm) }}
{% endblock %}